{% extends "layout.html" %} {% block head %} {% block title %}Post Blog
Content{% endblock %}<link
  rel="stylesheet"
  type="text/css"
  href="static/css/blog.css"
/>
{% endblock %} {% block content %} {% for post in posts %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div
      class="ml-5 post-preview col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"
    >
      <a href="blog.html">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
      </a>
      <p class="post-subtitle">
        {{ post.body }}
      </p>
      <p class="post-meta">
        Posted by <a href="#">{{ post.author_name }}</a> on
        {{ post.created_at }}
      </p>
      <p>Updated at: {{ post.updated_at }}</p>
    </div>
    <hr />
    {% endfor %}
    <!-- Pager -->
    <ul class="pager">
      <li class="next">
        <a href="#">Older Posts &rarr;</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

<hr />
{% block footer %}{% endblock %}
